@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #fff8f0;
  color: #111827;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
* {
  outline: 1px solid red !important;
}